<section id="feature-stats" class="app-padding pb-5">
    <div class="stats-wrapper">
        <div class="semi-circle-left circle-style"></div>
        <div class="circle circle-style" style="left: 25px; bottom: 100px;"></div>

        <div class="semi-circle-right circle-style"></div>
        <div class="circle circle-style" style="right: 25px; top: 8px;"></div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 mt-auto mb-auto text-center py-4">
                <p class="count"><span class="counting">20000</span>+</p>
                <p class="label">Students Enrolled</p>
            </div>
            <div class="col-sm-6 col-md-4 mt-auto mb-auto text-center py-4">
                <div class="seprator d-none d-md-block"></div>
                <p class="count" id="tutor_counter">
                    <span class="counting">10000</span>+
                </p>
                <p class="label">Experiance Tutors</p>
            </div>
            <div class="col-sm-6 col-md-4 mt-auto mb-auto text-center py-4">
                <div class="seprator d-none d-md-block"></div>
                <p class="count" id="award_counter">
                    <span class="counting">50</span>+
                </p>
                <p class="label">Awards & Recognition</p>
            </div>
        </div>
    </div>
</section