<section id="feature-tutor_registration" class="app-padding pb-5">
    <div class="">
        <div class="section-title text-center mb-5">
            <span class="card-subtitle" style="--color: var(--gray);">Be a Tutor</span>
            <h2>Empower Your Teaching Career</h2>
        </div>
        <div>
            <p>
                Are you ready to start your journey as a mentor and inspire students? Get in touch with us now to sign
                up as a mentor, schedule an interview, and allow us to help you find personalized offline and online
                tuition classes in your area at your convenience across the country!
            </p>
            <div class="mt-5 text-center">
                <a href="https://app.indianmentors.in/tutor/registration" target="_blank" class="primary-action-btn"
                style="--padding: 14px 35px;">
                Register As a tutor
            </a>
            </div>
           
        </div>
    </div>
</section