<section id="app-footer" class="pt-5">
  <div class="row justify-content-center py-3 px-5 g-0">
    <div class="col-sm-12 col-md-6 px-sm-2 px-md-5">
      <div class="pb-4">
        <a class="navbar-brand" href="../">
          <img
            src="../../assets/images/logo/full-logo.svg"
            alt=""
            width="300px"
          />
        </a>
      </div>

      Indian Mentors is an educational service provider that offers highly
      qualified mentors to enhance students' performance. We believe that
      children, parents, and teachers must collaborate effectively. We provide
      education that aligns with technological advancements and globalisation.
      <hr />
      <h5 class="mt-4">Follow Us</h5>
      <div class="social-icons my-4">
        <a
          class="text-decoration-none me-1"
          href="https://www.instagram.com/indianmentors/"
          target="_blank"
          ><span class="mdi mdi-instagram"></span
        ></a>
        <a
          class="text-decoration-none me-1"
          href="https://www.facebook.com/indianmentors"
          target="_blank"
          ><span class="mdi mdi-facebook"></span
        ></a>
        <a
          class="text-decoration-none me-1"
          href="https://www.linkedin.com/company/indianmentors/"
          target="_blank"
          ><span class="mdi mdi-linkedin"></span
        ></a>
        <a
          class="text-decoration-none me-1"
          href="https://www.youtube.com/channel/UCwZbfBmijkVQDnsQmKhc_-A"
          target="_blank"
          ><span class="mdi mdi-youtube-play"></span
        ></a>
        <a
          class="text-decoration-none me-1"
          href="https://twitter.com/i/flow/login?redirect_after_login=%2Findian_mentors"
          target="_blank"
          ><span class="mdi mdi-twitter"></span
        ></a>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 ps-sm-2 ps-md-5">
      <h5 class="my-3">Quick Links</h5>
      <ul class="footer-nav-item ps-1">
        <li class="py-2"><a href="../">Home</a></li>
        <li class="py-2"><a href="../about/">About Us</a></li>
        <li class="py-2"><a href="../contact/">Contact Us</a></li>
        <li class="py-2"><a href="../career/">Career</a></li>
        <li class="py-2"><a href="../faq/">FAQs</a></li>
        <li class="py-2"><a href="../privacy-policy/">Privacy Policy</a></li>
        <li class="py-2"><a href="../terms/">Term & Condition</a></li>
        <li class="py-2">
          <a href="../refund-and-cancellation-policy/"
            >Refund & Cancellation Policy</a
          >
        </li>
        <li class="py-2">
          <a href="https://app.indianmentors.in/admin/login/" target="_blank"
            >Team Login</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4 px-sm-2 px-md-5">
      <h5 class="my-3">Contact Us</h5>
      <p class="pb-3">
        <strong>Address : </strong>
        32/A, Near Avantibai Chowk, Beside Dubey Dairy, Junwani Road, Kohka,
        Bhilai, Durg Chhattisgarh 490023
      </p>
      <p class="pb-3">
        <strong>Email : </strong>
        indianmentors.in@gmail.com
      </p>
      <p class="pb-3">
        <strong>Call : </strong>
        <span> +91 7389563564</span>,
        <span> +91 7869027983</span>
      </p>
    </div>
  </div>
  <div class="text-center py-4 small">
    Copyright © Indian Mentors 2024 All rights reserved
  </div>
  <div class="developer-credit text-center py-3">
    Design & Developed with ❤️ by
    <a href="https://emit077.github.io/" target="_blank" style="color: inherit"
      >Amit Sahu</a
    >
  </div>
</section>
