<section id="app-navbar" class="d-inline">
    <div class="d-none d-md-inline">
        <nav class="navbar navbar-expand-lg navbar-light app-padding pt-3">
            <div class="collapse navbar-collapse" id="navbarScroll">
                <div class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <a class="navbar-brand" href="../">
                        <img src="../../assets/images/logo/full-logo.svg" alt="" width="300px" />
                    </a>
                </div>
                <div class="d-flex">
                    <div class="pr-5">
                        <div class="d-inline-flex v-middle">
                            <div class="align-self-center px-2">
                                <span class="mdi mdi-phone icon"></span>
                            </div>
                            <div>
                                <p class="nav-text">Call</p>
                                <p>+91 7389563564</p>
                            </div>
                        </div>
                    </div>
                    <div class="px-5">
                        <div class="d-flex">
                            <div class="align-self-center px-2">
                                <span class="mdi mdi-clock-time-five icon"></span>
                            </div>
                            <div>
                                <p class="nav-text">Work Time</p>
                                <p>Mon - Fri 8AM - 8PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="pl-5">
                        <div class="d-flex">
                            <div class="align-self-center px-2">
                                <span class="mdi mdi-map-marker icon"></span>
                            </div>
                            <div>
                                <p class="nav-text">Address</p>
                                <p>Bhilai, Chhattishgarh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <header id="app-header" class="sticky-top app-padding bg-white pb-3">
            <hr />
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link px-0 me-5" href="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 me-5" href="../about/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 me-5" href="../contact/">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 me-5" href="../career/">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 me-5" href="../faq/">FAQs</a>
                    </li>
                </ul>
                <a href="https://app.indianmentors.in/login/" target="_blank" class="primary-action-btn"
                    style="--padding: 8px 20px;">
                    Login
                </a>
            </div>
        </header>
    </div>
    <!-- moibile bar -->
    <header id="app-header" class="sticky-top app-padding bg-primary p-1 pe-2 text-end  d-md-none">
        <img src="../../assets/images/logo/full-logo.svg" alt="" width="200px" class="float-start mt-2 ms-2" />
        <!-- <a class="text-decoration-none" data-bs-toggle="modal" href="#mobileMenuModel" role="button"> -->
            <span id="menu_btn" class="mdi mdi-menu text-white" style="font-size: 35px;" onclick="openDialog()"></span>
        <!-- </a> -->
    </header>
    <div class="modal " id="mobileMenuModel" aria-hidden="true" aria-labelledby="mobileMenuModelLabel" tabindex="-1">
        <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-top mt-0">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" style="color: white !important" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-style-none">
                        <li class="nav-item mb-4">
                            <a class="nav-link  px-0 me-5" href="../">Home</a>
                        </li>
                        <li class="nav-item mb-4">
                            <a class="nav-link px-0 me-5" href="../about/">About Us</a>
                        </li>
                        <li class="nav-item mb-4">
                            <a class="nav-link px-0 me-5" href="../contact/">Contact Us</a>
                        </li>
                        <li class="nav-item mb-4 ">
                            <a class="nav-link px-0 me-5" href="../career/">Career</a>
                        </li>
                        <li class="nav-item mb-4">
                            <a class="nav-link px-0 me-5" href="../faq/">FAQs</a>
                        </li>
                    </ul>
                    <a class="primary-action-btn ms-4" style="--padding: 10px 20px;" href="https://app.indianmentors.in/login">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
</script>
