:root {
  --primary: 4, 35, 144;
  --gray: 134, 134, 134;
  --white: 255, 255, 255;
  --card-surface: 45, 133, 239;
}
.ping {
  background: transparent;
  border-radius: 50%;
  border: 2px solid blue;
  text-align: center;
  animation: load 2s ease-out infinite;
}

@keyframes load {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
#circle {
  height: 100%;
  border-radius: 30px;
  /* float: left; */
  /* width: 350px; */
  /* height: 350px; */
  /* shape-outside: circle(); */
  /* clip-path: circle(); */
  /* background: lightblue; */
  background-image: url(../../assets/images/about/thumbnail.png);
  background-size: cover;
}

.dot {
  position: relative;
  width: fit-content;
  background: white;
  border-radius: 40px;
  width: 3.75rem;
  height: 3.75rem;
}

.heartbeat {
  position: absolute;
  width: fit-content;
  background-color: transparent;
  border: solid 1px rgb(var(--white));
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  opacity: 0.75;
  animation: load 2s ease-out infinite;
}
.heartbeat-2 {
  position: absolute;
  width: fit-content;
  background-color: transparent;
  border: solid 1px rgb(var(--white));
  border-radius: 50%;
  width: 4.75rem;
  height: 4.75rem;
  opacity: 0.75;
  animation: load 2s ease-out infinite;
}
#over-values {
  background: rgb(4, 34, 143, 1);
  background: linear-gradient(
    37deg,
    rgba(8, 81, 192, 1) 0%,
    rgba(4, 34, 143, 1) 46%
  );
}

#over-values .card {
  background-color: rgba(var(--white),0.22);
}

#over-values .card .title{
  font-size: 18px;
}
