#about-welcome .video-circle {
  height: 150px;
  width: 150px;
  background: blue;
  /* border:  solid 5px blue; */
  position: relative;
  z-index: -1;
  border-radius: 50%;
}

@keyframes moveLR {
    0% ,100% { left:250px; top:150px;}
    50% {left:750px; top: 150px;}
  }
#about-welcome .video-circle-bounce {
  height: 30px;
  width: 30px;
  position: relative;
  top: 100px;
  left: 250px;
  animation: moveLR 8s ease-in-out infinite;
}


.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    animation: rotation 8s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 1px solid pink;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
      }
  } 